<!doctype html>
<html class="no-js no-svg" {{ site.language_attributes }}>

    {% block head_container %}
        {% include 'html-head.twig' %}
    {% endblock %}

    <body class="{{body_class}}" data-template="base.twig">

        <a class="skip-link screen-reader-text" href="#content">{{ _e( 'Skip to content') }}</a>

        <header class="header" >
            {% block page_header %}
                <div class="wrapper">
                    <h1 class="hdr-logo" role="banner">
                        <a class="hdr-logo-link" href="{{site.url}}" rel="home">{{site.name}}</a>
                    </h1>

                </div>
            {% endblock %}

            {% block page_navigation %}
                <nav id="nav-main" class="nav-main" role="navigation">
                    {% include "menu.twig" with {'items': menu.get_items} %}
                </nav><!-- #nav -->
            {% endblock %}
        </header>

        <section id="content" role="main" class="content-wrapper">
            {% block page_content %}

                {% if title %}<h1>{{title}}</h1>{% endif %}

                <div class="wrapper {{sidebar_class}}">
                    Sorry, no content
                </div>

                {% if sidebar %}
                    <aside class="layout-sidebar">
                        {{sidebar}}
                    </aside>
                {% endif %}

            {% endblock %}
        </section>

        {% block page_footer %}
            {% include 'footer.twig' %}
		{% endblock %}

        {{ function('wp_footer') }}
	</body>
</html>
